@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|Neuton:200');

html, body {
    background-color: #1eb3dd;

    overflow: hidden;
}

#menuButton {
    background-color:red;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    border: 1px solid black;
    
}
#menu {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: 1;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    opacity: 0.85;
    text-align: center;
    float:left;
        
}
#menu h1 {font-size: 100%}



/*BANNER*/

.banner {

    width: 100%;
    height: 3%;
    background: linear-gradient( #2f2f2f, #3b3b3b);
    position: fixed;
    left: 0;
    float: left;
    right: 0;

}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#button{
    
    position:absolute;
    float:left;
    border:1px solid black;
}
#titleBar {
    position: absolute;
    height: 6%;
    text-align:center;
    width: 90%;
    float:left;
    top:0;
    
}

#sbContainer {

    
    background-color: #eae6ce;
    /* perfect square ...*/
    width: 50vw;
    height: 50vw;
    border-radius: 0;
    border:10px solid #222222;
    margin: auto;

    position: absolute;
    top: 11%;
    left: 5%;
    min-width: 80%;
    bottom: 5%;
    right: 5%;
    
    box-sizing: content-box;

    max-height: 90%;
    min-height: 85%;
    overflow-y:scroll;
    text-align:center;
    box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.5);


}

#sbContainer::-webkit-scrollbar{
    display:none;
    
}


#sbContainer:hover{
    border: 10px solid #2eec71;
}


.sbButton {
    position: relative;
    display: inline-block;
    background: radial-gradient( #888888, #555555);
    /*#e15e5e??*/
    width: 10vw;
    height: 10vw;
    border-radius: 0.5%;
    border: 1px solid #888888;
    margin-top: 3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    box-shadow: 3px 10px 20px 6px rgba(0,0,0,0.38);

    

}

.sbButton:active{
    box-shadow: inset 9px 8px 12px 6px rgba(0,0,0,0.4);
}


/*FONT*/
h1{
    font-family: 'IBM Plex Sans Condensed';
}

@media all and (max-width: 1079px) {

    #sbContainer {}


}
